* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

#pokedex {
  max-width: 60vh;
  margin: 0 auto;
  height: 100vh;
  background-color: #a04348;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section {
  background-color: #c0c0c0;
  height: 100%;
  margin: 5%;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 10% 100%, 0 90%);
}

.pokedex-content {
  background-color: white;
  margin: 5%;
  padding: 5%;
  height: 40%;
  border-radius: 0.5em;
}

#pokemon-card {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#screen {
  background-color: #defde0;
  padding: 10%;
}

#pokemon-picture-container {
  background-color: white;
  border-radius: 50%;
  width: 40%;
  display: flex;
  align-items: center;
}

#search {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  border: 2px solid black;
  padding: 7px;
  padding-left: 14px;
  border-radius: 25px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  border: none;
  text-align: right;
  font-size: 1.5em;
}

input:focus {
  outline: none;
}

label {
  width: 100%;
}

.search-sub-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
